In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
     'three': pd.Series(['y', 'y', 'n'], index= ['a', 'b', 'c'])
    }

df = pd.DataFrame(d)
df

   one  two three
a  1.0  1.0     y
b  2.0  2.0     y
c  3.0  3.0     n
d  NaN  4.0   NaN

In [3]:
# 所使用到的特例数据
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')

users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='\|')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

# 根据功能分类

## 查看数据总行数/列数

In [ ]:
len(df)

In [ ]:
# 默认仅返回数值列，如果需要可以加入 include='all' 用来显示所有列
df.describe(include='all')

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
# 统计每列有效数据数量
df.count()

## 查看出现次数最多的项

In [ ]:
df['three'].value_counts().head()

In [ ]:
# 特例类型    
# 如果存在quntity项，类似于商品购买记录中数量项
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(3)

## 统计某列中共有多少不同项

In [ ]:
df['one'].nunique()

In [ ]:
df['one'].value_counts().count()

## 按照特定规则修改某列值/数据类型

In [ ]:
func = lambda x: int(x)
df.two = df.two.apply(func)
df

## 返回特定几行的同一列内容

In [ ]:
euro12.loc[euro12.Team.isin(['England', 'Italy', 'France']), ['Team', 'Shooting Accuracy']]

## 同时计算某几列的min/max/mean等

In [ ]:
df.agg(['min', 'max', 'mean', 'median'])

## 计算users中同一职业的男女比

In [ ]:
users.head()

In [ ]:
# 将性别转换为数值类型
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

# 将数值化的性别创建为新列
users['gender_n'] = users['gender'].apply(gender_to_numeric)


a = users.groupby('occupation').gender_n.sum() / users.occupation.value_counts() * 100 

# 按男女比由高到低排列
a.sort_values(ascending = False)

## 计算同一职业内不同性别的平均年龄
> 即按照多个列进行`groupby`后完成计算

In [4]:
users.groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

## 计算每个职业中男女各自占其总人数的百分比

In [ ]:
# create a data frame and apply count to gender
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# create a DataFrame and apply count for each occupation
occup_count = users.groupby(['occupation']).agg('count')

# divide the gender_ocup per the occup_count and multiply per 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# present all rows from the 'gender column'
occup_gender.loc[: , 'gender']